
@{
    ViewBag.Title = "IntroDental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p{
        font-size:15px;
    }
</style>
<div class="container body-content">
  
<section id="gallery" class="gallery section">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="wow fadeInDown animated">NHA KHOA HOME - CHUẨN ĐỨC TỪ CON NGƯỜI ĐẾN TRANG THIẾT BỊ</h2>
            <p class="wow fadeInDown animated">Tất cả mọi phương pháp chữa trị đều được chuẩn hóa nhằm mang đến cho bệnh nhân kết quả điều trị tối ưu.
            </div>
        <h2 style="color:deepskyblue;">Dental Clinic – Nha khoa chuẩn Đức đầu tiên tại Thành Phố Hồ Chí Minh</h2>
        <p>Đội ngũ bác sĩ đã có 12 năm được đào tạo bài bản và công tác tại các bệnh viện cũng như những trung tâm nha khoa lớn tại CHLB Đức, như Đại học Tổng hợp Hamburg, bệnh viện Eppendorf – Bệnh viện lớn nhất vùng Bắc nước Đức, trung tâm nha khoa tại Norderstedt,...</p>
        <img src="~/Content/images/team-1.jpg" width="40%" style="margin-left:30%; margin-top:100px;margin-bottom:30px"/>
        <p> ♦ Là một trong hai thủ khoa  tốt nghiệp loại Xuất sắc của ngành Nha Đại học Tổng hợp Hamburg. </p>
        <p>  ♦ Đạt giải thưởng một trong mười ba cá nhân người Việt Nam tiêu biểu tại CHLB Đức của Tổng Lãnh sự Việt Nam tại Đức.  </p>
        <p> ♦ Đạt giải thưởng một trong mười sinh viên Xuất sắc tại Đức năm 2013</p>
        <p>♦ Là thành viên Hiệp hội Bác sĩ Bang Hamburg và Bang Schleswig-Holstein
        </p>
        <p>Dental Clinic tọa lạc trên mặt phố trung tâm TpHCM, với diện tích hơn 300m2, có hầm để xe máy và ô tô rộng rãi, thang máy riêng biệt. Tại Dental Clinic, chúng tôi trang bị những thiết bị nhập khẩu toan bộ từ CHLB Đức, mang đến một cơ sở nha khoa chuẩn Đức lần đầu tiên có mặt tại TpHCM.</p>
        <h2 style="color:deepskyblue">
            Đạt tiêu chuẩn nha khoa chuẩn Đức tại Việt Nam
        </h2>
        <p>♦ Hệ thống phòng tiệt trùng riêng biệt với 3 bước tiệt trùng đạt tiêu chuẩn như tại Bệnh viện Đại học Y Hamburg. Tất cả dụng cụ khám, chữa bệnh đều được sấy hấp, đóng gói vô khuẩn ở nhiệt độ cực cao và môi trường chân không. Máy khử khuẩn Melag với tiêu chuẩn khử khuẩn cao nhất của liên minh Châu Âu, đã được trang bị tại Dental Clinic. Với chúng tôi, bệnh nhân có thể tham quan quy trình vô khuẩn để đảm bảo yên tâm.</p>
        <p>♦ Hệ thống máy chữa tủy VDW.Gold – CHLB Đức tiêu chuẩn vàng trong điều trị tủy. Giúp rút ngắn thời gian điều trị, không gây đau, khó chịu cho bệnh nhân.</p>
        <p>♦ Hệ thống máy Laser của Sirona – Đức hỗ trợ trong chữa trị Răng – Hàm – Mặt, không gây chảy máu, không cần dùng dao cắt, giúp quá trình lành thương, tái tạo mô cực kì nhanh chóng, không còn nguy cơ viêm nhiễm trong điều trị bằng Laser.</p>
        <img src="~/Content/images/gallery/csvc4.jpg"width="80%" style="margin-left:10%; margin-top:30px; border-radius:5%; box-shadow:5px 5px 10px ;margin-bottom:50px" />
        <p>♦ Hệ thống máy cấy ghép cùng phòng cắm Implant riêng biệt, theo tiêu chuẩn Đức</p>
        <p>♦ Hệ thống máy siêu âm hỗ trợ việc nhổ răng không gây tổn thương về xương hay mô mềm, bệnh nhân không còn đau sau nhổ răng khôn. Sự biến điệu tần số của các bước sóng siêu âm mang đến sự êm dịu trong suốt quá trình phẫu thuật, giúp tái tạo tế bào một cách tối ưu.</p>
        <p>♦ Hệ thống đầy đủ các loại răng sứ thẩm mĩ của CHLB Đức giúp việc làm răng thẩm mĩ theo công nghệ mới, hạn chế xâm lấn tối đa và hết hẳn những nguy cơ như viêm lợi, đen chân răng, hôi miệng.</p>
        <p>♦ Hệ thống ghế khám riêng biệt đảm bảo sự riêng tư, sạch sẽ cho từng khách hàng.</p>  
        <p>Dental Clinic không ngừng nhận được sự tín nhiệm của các cán bộ Đại sứ quán Đức và cộng đồng người Đức tại Hà Nội nói riêng mà còn nhận được sự yêu mến của hàng chục ngàn bệnh nhân trên khắp đất nước. Đó là động lực để Dental Clinic luôn chú trọng cập nhật các thiết bị công nghệ mới đạt chuẩn Đức giúp mang lại cho khách hàng những trải nghiệm tuyệt vời nhất.</p>
    </div>
    </section>
    </div>