
@{
    ViewBag.Title = "IntroInfrastructure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- gallery section -->
<section id="gallery" class="gallery section">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="wow fadeInDown animated">Trang Thiết Bị Nha Khoa Dental Clinic</h2>
            <p class="wow fadeInDown animated">Tự hào là một trong số ít phòng khám nha tại Việt Nam được các chuyên gia hàng đầu thế giới lựa chọn chuyển giao công nghệ mới, tân tiến nhất Châu Âu.  <br> Dental Clinic trang bị hệ thống thiết bị, máy móc hiện đại nhất được nhập khẩu toàn bộ từ nước ngoài phục vụ cho việc chuẩn đoán và điều trì nhằm mang lại sự hài lòng nhất cho khách hàng.</p>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc1.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc1.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc2.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc2.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc3.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc3.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc4.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc5.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc5.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc6.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc6.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc7.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc7.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 work">
                <a href="~/Content/images/gallery/csvc8.jpg" class="work-box">
                    <img src="~/Content/images/gallery/csvc8.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-caption">
                            <p><span class="icon icon-magnifying-glass"></span></p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
        </div>
    </div>
</section>
<!-- gallery section -->
