
@{
    ViewBag.Title = "IntroDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- our team section -->
<section id="teams" class="section teams">
    <div class="container">
        <div class="section-header">
            <h2 class="wow fadeInDown animated">Đội Ngũ Y Bác Sĩ</h2>
            <p class="wow fadeInDown animated">Chúng tôi tự hào với đội ngũ y bác sĩ hàng đầu Việt Nam với kĩ năng chuyên môn cao. <br> Cam kết mang đến sự hài lòng về nụ cười của mình.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="~/Content/images/team-1.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Jonh Dow</h4>
                        <h5 class="role">Doctor</h5>
                        <p>
                            Bác sĩ chuyên sâu về cấy ghép Implant, tiểu phẫu và phục hình thẩm mỹ răng sứ và mặt dán sứ.
                            Tu nghiệp chuyên sâu về cấy ghép răng Implant tại Bệnh viện Răng Hàm Mặt TP.HCM.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="~/Content/images/team-2.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Markus Linn</h4>
                        <h5 class="role">Doctor</h5>
                        <p>
                            Tốt nghiệp khoa Răng Hàm Măt đại học Y khoa Quảng Tây Trung Quốc.
                            Hoàn thành chương trình thạc sĩ tại đại học Y Hà Nội
                            Hơn 6 năm kinh nghiệm.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="~/Content/images/team-3.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Chris Jemes</h4>
                        <h5 class="role">Doctor</h5>
                        <p>
                            Bác sĩ chuyên sâu về điều trị chỉnh nha
                            Tu nghiệp chuyên sâu chỉnh nha tại Bệnh viện Răng Hàm Mặt TP.HCM
                            Tu nghiệp nhiều khóa chỉnh nha ngắn hạn tại 3M, 3D.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="~/Content/images/team-4.jpg" alt="" class="img-responsive">
                    <div class="person-content">
                        <h4>Vintes Mars</h4>
                        <h5 class="role">Doctor</h5>
                        <p>
                            Chuyên gia cấy ghép răng Implant, ghép xương, chỉnh hình răng thẩm mỹ, khuôn mặt.
                            Giám đốc bệnh viện Thẩm mỹ Hàn Quốc 2016- 2018.
                            Chuyên sâu chỉnh hình mũi và mắt, cằm tại Thẩm mỹ Úc Châu 2010 - 2015.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- our team section -->
