
@{
    ViewBag.Title = "DatLichThanhCong";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <div style="text-align:center" class="col-md-12">
                <h2> Đặt Lịch Hẹn Thành Công</h2>
                <h4> Lịch hẹn đã được gửi đến Dental clinic, Vui lòng đến đúng theo giờ hẹn. </h4>
                <h3> Dental Clinic xin chân thành cảm ơn.</h3>
                @Html.ActionLink("Quay Lại", "CreateLichHenYTA", "ListLichHen")
            </div>

            </div>
</div>
</div>