
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";

}

<!-- services section -->
<section id="services" class="services service-section">
    <div class="container">
        <div class="section-header">
            <h2 class="wow fadeInDown animated">DỊCH VỤ NHA KHOA</h2>
            <p class="wow fadeInDown animated">Dental Clinic chuyên điều trị các vấn đề về răng, chăm sóc răng miệng uy tín tại tpHCM với mức giá phù hợp.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/tooth-whitening.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Răng thẩm mỹ</h5>
                    <p>Bọc răng sứ là một giải pháp khắc phục các khiếm khuyết của răng như sứt mẻ, răng thưa, nhiễm màu kháng sinh, bệnh lý sâu răng, viêm tủy, mòn men... </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/implant.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Trồng răng - Cấy ghép Implant</h5>
                    <p>Cấy ghép implant là quá trình cấy ghép một "chân răng giả" bằng titan xương hàm, cầu răng hay một hàm giả nhằm thay thế cho các răng đã mất... </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/tooth-whitening (1).png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Tẩy trắng răng</h5>
                    <p>Tẩy trắng với công nghệ Laser Whitening hiện đại của Mỹ chỉ trong 1 giờ chúng tôi mang đến cho bạn một hàm răng trắng tự nhiên, đều màu,...</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/tooth.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Điều trị nha chu</h5>
                    <p>Viêm nha chu là một vấn đề về răng miệng phổ biến và nghiêm trọng. Khi những mảng bám tích tụ lâu ngày không được loại bỏ, chúng sẽ cứng dần và tạo nên vôi răng...</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/toothache.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Nhổ răng khôn </h5>
                    <p>Nhổ răng khôn là một quá trình phẫu thuật nha khoa hực hiện bởi nha sĩ hoặc bác sĩ phẫu thuật răng miệng để nhổ một hoặc nhiều răng khôn của bạn...</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/braces.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Niềng răng</h5>
                    <p>Niềng răng hoặc chỉnh nha là một trong những biện pháp phổ biến nhằm mang lại một hàm răng thẳng hàng, đều và đẹp. Ngày càng được nhiều người quan tâm và thực hiện...</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/dental.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Trám răng</h5>
                    <p>Trám răng là thủ thuật nha khoa dùng vật liệu nhân tạo để khắc phục tình trạng răng sâu, sứt mỡ nhẹ… trở về hình dáng ban đầu...</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/baby-teeth.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Răng trẻ em</h5>
                    <p>Dental Clinic cung cấp các dịch vụ nha khoa trẻ em từ phong phú từ khám định kỳ, nhổ răng, hàn răng, chỉnh nha. Nụ cười hồn nhiên của trẻ... </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 services text-center">
                <span class="icon"><img src="~/Content/images/Services/dentist-chair.png" style="width:50px" /></span>
                <div class="services-content">
                    <h5>Nha khoa tổng quát</h5>
                    <p>Dental Clinic còn cung cấp những dịch vụ điều trị các vấn đề về răng với kỹ thuật cao, công nghệ chuẩn Đức. Luôn đặt chất lượng điều trị lên hàng đầu...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services section -->
